.panel-margin {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.App {
  margin: 10px;
  text-align: center;
  display: flex;
}
.view-div {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.left-side {
  height: 700px;
  width: 280px;
}
.data-description-div {
  height: 240px;
  width: 280px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.control-panel-div {
  width: 280px;
  height: 240px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.word-cloud-div {
  width: 280px;
  height: 220px;
  padding-bottom: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.middle {
  height: 700px;
  width: 800px;
}
#map {
  top: 0;
  width: 800px;
  height: 480px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.river-view {
  width: 800px;
  height: 220px;
  padding-bottom: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
#river {
  width: 100%;
  height: 100%;
}
.right-side {
  height: 700px;
  width: 380px;
}
.scatter-div {
  height: 380px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.barchart-div {
  height: 320px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.heading {
  height: 22px;
  text-align: left;
  padding-top: 2px;
  padding-left: 10px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
#scatter {
  width: 100%;
  height: 100%;
}
#scatter-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#scatter-canvas-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.scatter-canvas-div {
  position: relative;
  flex: 1 1 auto;
}
#cloud-svg {
  flex: 1 1 auto;
}
#barchart-svg {
  flex: 1 1 auto;
}
