// out: ./App.css, compress: false, sourceMap: false

@leftSideWidth: 280px;
@middileWidth: 800px;
@rightSideWidth: 380px;

@mapHeight: 480px;

@height: 700px;

@dataHeight: @mapHeight / 2;

@controlPanelHeight: @mapHeight / 2;

@wordCloudHeight: @height - @dataHeight - @controlPanelHeight;

@scatterDivHeight: @rightSideWidth;

@barchartdivheight: @height - @scatterDivHeight;

.panel-margin {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.App {
  margin: 10px;
  text-align: center;
  display: flex;
}

.view-div {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.left-side {
  height: @height;
  width: @leftSideWidth;
}

.data-description-div {
  height: @dataHeight;
  width: @leftSideWidth;
  .panel-margin();
}

.control-panel-div {
  width: @leftSideWidth;
  height: @controlPanelHeight;
  .panel-margin();
}

.word-cloud-div {
  width: @leftSideWidth;
  height: @wordCloudHeight;
  .panel-margin();
  .view-div();
}

.middle {
  height: @height;
  width: @middileWidth;
}

#map {
  top: 0;
  width: @middileWidth;
  height: @mapHeight;
  .panel-margin();
}

.river-view {
  width: @middileWidth;
  height: @height - @mapHeight;
  .panel-margin();
  .view-div();
}
#river {
  width: 100%;
  height: 100%;
}

.right-side {
  height: @height;
  width: @rightSideWidth;
}

.scatter-div {
  height: @scatterDivHeight;
  .view-div();
}

.barchart-div {
  height: @barchartdivheight;
  .view-div();
}

.heading {
  height: 22px;
  text-align: left;
  padding-top: 2px;
  padding-left: 10px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.view-svg {
  width: 100%;
  height: 100%;
}

#scatter {
  width: 100%;
  height: 100%;
}

#scatter-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#scatter-canvas-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.scatter-canvas-div {
  position: relative;
  width: 100%;
  height: 100%;
}

#cloud-svg {
  width: 100%;
  height: 100%;
}
