.panel-margin {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.App {
  margin: 10px;
  text-align: center;
  display: flex;
}
.view-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  width: 100%;
}
.left-side {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 280px;
}
.data-description-div {
  height: 88px;
  max-height: 88px;
  width: 280px;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.control-panel-div {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 220px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.control-panel-content-div {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.word-cloud-div {
  box-sizing: border-box;
  width: 340px;
  height: 308px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}
.whole-right {
  display: flex;
  flex-direction: column;
}
.above-div {
  box-sizing: border-box;
  height: 308px;
  width: 1140px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}
#map {
  top: 0;
  width: 800px;
  height: 440px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.river-view {
  height: 130px;
  width: 542px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}
#river {
  width: 100%;
  height: 100%;
}
.right-side {
  box-sizing: border-box;
  height: 700px;
  width: 340px;
}
.barchart-div {
  width: 340px;
  height: 308px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  width: 100%;
}
.heading {
  position: relative;
  height: 22px;
  text-align: left;
  padding-top: 2px;
  padding-left: 10px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
#scatter {
  width: 100%;
  height: 100%;
}
#scatter-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#scatter-canvas-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.scatter-div {
  display: flex;
  flex-direction: column;
  height: 258px;
  width: 258px;
}
.scatter-canvas-div {
  flex: 1 1 auto;
  position: relative;
}
#cloud-svg {
  flex: 1 1 auto;
}
#barchart-svg {
  flex: 1 1 auto;
}
.matrix-div {
  height: 258px;
  flex: auto;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
#matrix-svg {
  flex: 1 1 auto;
}
@keyframes slideIn {
  from {
    height: 0%;
  }
}
.bars-group > rect {
  animation: slideIn 1s linear 0s;
  transition: fill 1s;
}
.bars-group > rect:hover {
  fill: black;
}
.bars-group > rect:active {
  fill: red;
}
.matrix-rects {
  transform-origin: center;
  transition: transform 0.2s ease-out;
}
.matrix-rects:hover {
  transform: scale(1.03, 1.03);
}
.bottom-div {
  width: 800px;
  height: 260px;
  position: absolute;
  bottom: 16px;
  display: flex;
}
.groupbar-div {
  height: 134px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
#texts-div {
  width: 100%;
  height: 392px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.data-description-content-div {
  flex: auto;
  /*  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start; */
}
