// out: ./App.css, compress: false, sourceMap: false

@leftSideWidth: 280px;
@middileWidth: 800px;
@rightSideWidth: 340px;

@mapHeight: 440px;

@headingHeight: 22px;

@height: 700px;

@dataHeight: @mapHeight / 4;

@controlPanelHeight: @mapHeight / 2- (@mapHeight / 4 - @mapHeight / 5);

@wordCloudHeight: @rightSideWidth - @headingHeight - 10px;

@scatterDivHeight: @height - @dataHeight - @controlPanelHeight;

@barchartdivheight: @height - @scatterDivHeight;

@matrixDivHeight: @leftSideWidth - @headingHeight;

.panel-margin {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.App {
  margin: 10px;
  text-align: center;
  display: flex;
}

.view-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  width: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  height: @height;
  width: @leftSideWidth;
}

.data-description-div {
  height: @dataHeight;
  max-height: @dataHeight;
  width: @leftSideWidth;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  .panel-margin();
}

.control-panel-div {
  display: flex;
  flex-direction: column;
  width: @leftSideWidth;
  height: @controlPanelHeight;
  .panel-margin();
}

.control-panel-content-div {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.word-cloud-div {
  box-sizing: border-box;
  width: @rightSideWidth;
  height: @wordCloudHeight;
  .panel-margin();
  display: flex;
  flex-direction: column;
}

.whole-right {
  display: flex;
  flex-direction: column;
}

.above-div {
  box-sizing: border-box;
  height: @height - @scatterDivHeight;
  width: @middileWidth + @rightSideWidth;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}

.map-view {
  top: 0;
  width: @middileWidth;
  height: @mapHeight + 2px;
  .panel-margin();
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
#map {
  flex: 1 1 auto;
  margin-bottom: 0;
}

.river-view {
  height: (@height - @mapHeight)/2;
  width: @middileWidth - @matrixDivHeight;
  .panel-margin();
  display: flex;
  flex-direction: column;
}
#river {
  width: 100%;
  height: 100%;
}

.right-side {
  box-sizing: border-box;
  height: @height;
  width: @rightSideWidth;
}

.barchart-div {
  width: @rightSideWidth;
  height: @barchartdivheight;
  .view-div();
}

.heading {
  position: relative;
  height: @headingHeight;
  text-align: left;
  padding-top: 2px;
  padding-left: 10px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

#scatter {
  width: 100%;
  height: 100%;
}

#scatter-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#scatter-canvas-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.scatter-div {
  display: flex;
  flex-direction: column;
  height: @matrixDivHeight;
  width: @matrixDivHeight;
  margin-bottom: 0;
}
.scatter-canvas-div {
  flex: 1 1 auto;
  position: relative;
}

#cloud-svg {
  flex: 1 1 auto;
}

#barchart-svg {
  flex: 1 1 auto;
}

.matrix-div {
  height: @matrixDivHeight;
  flex: auto;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
#matrix-svg {
  flex: 1 1 auto;
}

@keyframes slideIn {
  from {
    height: 0%;
  }
}

.bars-group > rect {
  animation: slideIn 1s linear 0s;
  transition: fill 1s;
}

.bars-group > rect:hover {
  fill: black;
}
.bars-group > rect:active {
  fill: red;
}

.matrix-rects {
  transform-origin: center;
  transition: transform 0.2s ease-out;
}

.matrix-rects:hover {
  transform: scale(1.03, 1.03);
}

.bottom-div {
  width: @middileWidth;
  height: @height - @mapHeight;
  position: absolute;
  bottom: 17px;
  display: flex;
}

.groupbar-div {
  height: @height - @dataHeight - @controlPanelHeight - @matrixDivHeight;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

#texts-div {
  width: 100%;
  height: @height - @wordCloudHeight;
  border-left: none;
}

.data-description-content-div {
  display: flex;
  flex-direction: column;
  flex: auto;
  padding: 5px 15px;
  text-align: left;
  justify-content: space-around;
  /*  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start; */
}

.data-description-content-div p {
  margin-bottom: 0;
}
.heading-button {
  padding: 0;
  float: right;
  margin-bottom: 3;
}

.map-control {
  flex: 0 0 auto;
  margin-bottom: 0;
  position: absolute;
  top: 22px;
  right: 0;
  width: 10;
  height: 10;
  z-index: 999999;
}

.map-heading::after {
  content: "";
  display: block;
  clear: both;
}

.buttons-div {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  height: 22px;
}

.buttons-div > button {
  padding-bottom: 0;
  padding-top: 0;
}

.buttons-div > input {
  height: 21.5px;
}

#buttons-div2 {
  margin-top: 15px;
  justify-content: space-around;
}

.method-div {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11px;
}

.method-div > span {
  margin: auto;
  font-size: 14px;
}

.method-div > label {
  margin-left: 2px;
  padding-left: 2px;
}

.checkbox label {
  padding-left: 0;
}

.checkbox-label {
  padding-left: 0;
}

.bottom-right-div {
  height: @matrixDivHeight;
  display: flex;
  flex-direction: column;
}

.single-text:hover {
  background: rgba(222, 222, 222, 0.5);
}
