// out: ./componentStyle.css, compress: false, sourceMap: false

#groupbar-svg {
  width: 100%;
  flex: 1 1 auto;
}

.slider-with-label {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-around;
}

.slider-div {
  padding-top: 3px;
  flex: 1 1 auto;
}

.slider-value-text {
  margin-left: 5px;
}

.slider-text {
  margin-right: 5px;
}

.buttons-div {
  height: 21px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#buttons-div2 {
  padding-left: 5px;
  padding-right: 7px;
}

#buttons-div1 {
  margin-left: -3px;
}

.texts-content-div {
  flex: auto;
  text-align: start;
  overflow: auto;
}

.text-ul {
  padding-left: 25px;
}

.list-group-item {
  padding: 2px 2px 2px 4px;
}

.list-group {
  overflow: auto;
  text-align: start;
}

.matrix-color-bar {
  width: 35%;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  border: 0.1px rgb(200, 200, 200) solid;
}

.matrix-color-bar-text {
  position: absolute;
  top: 1px;
  left: 37%;
}

.checkbox-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.white-button {
  background: rgb(255, 255, 255);
  border: solid 1px rgb(222, 222, 222);
}

.stack-bar-div {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

#stack-bar {
  flex: auto;
}

.bottom-right-div {
  display: flex;
  flex-direction: column;
}

.svg-border-rect:hover {
  opacity: 0.7;
}

.group-rect {
  pointer-events: none;
}
