// out: ./componentStyle.css, compress: false, sourceMap: false

#groupbar-svg {
  width: 100%;
  flex: 1 1 auto;
}

.slider-with-label {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-around;
}

.slider-div {
  padding-top: 3px;
  flex: 1 1 auto;
}

.slider-value-text {
  margin-left: 5px;
}

.slider-text {
  margin-right: 5px;
}

#buttons-div1 {
  margin-left: -3px;
}

.texts-content-div {
  flex: auto;
  text-align: start;
  overflow: auto;
}

.text-ul {
  padding-left: 25px;
}

.list-group-item {
  padding: 2px 2px 2px 4px;
}

.list-group {
  overflow: auto;
  text-align: start;
}

.matrix-color-bar {
  width: 28%;
  height: 12px;
  position: relative;
  top: 3px;
  float: right;
  border-radius: 10%;
}

.matrix-color-bar-text {
  float: right;
}

.checkbox-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.white-button {
  background: rgb(255, 255, 255);
  border: solid 1px rgb(222, 222, 222);
}

.stack-bar-div {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  box-sizing: border-box;
}

#stack-bar {
  flex: auto;
}

.svg-border-rect:hover {
  opacity: 0.7;
}

.group-rect {
  pointer-events: none;
}

.map-class-color-bar {
  width: 15px;
  height: 15px;
  margin-top: 1.5px;
  margin-right: 5px;
  border-radius: 50%;
  float: right;
  transform-origin: center;
  box-shadow: 1px 1px 1px;
}

.map-class-color-bar:hover {
  transform: scale(1.2);
}

.map-class-color-bar:active {
  transition: transform 0.2s;
  transform: translate(-1px, -1px) scale(1.15);
}

.map-class-color-bar-active {
  transform: scale(1.2);
}
